/* 全域設置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #000;
    color: white;
    text-align: center;
    line-height: 1.5;
  }
  
  /* 頭部區塊 */
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .back-button {
    position: absolute; /* 確保按鈕在 header 中定位 */
    top: 20px; /* 與頂部的距離 */
    left: 0; /* 設定為 0，完全貼合左側 */
    width: 40px; /* 按鈕寬度 */
    height: 40px; /* 按鈕高度 */
    cursor: pointer; /* 滑鼠指針變為點擊樣式 */
    z-index: 10; /* 確保按鈕位於其他元素上方 */
  }
   .back-button img {
    width: 100%; /* 確保箭頭圖片占滿按鈕容器 */
    height: 100%;
    object-fit: contain; /* 保持圖片比例 */
  }
 
  .brain-image img {
    width: 250px; /* 大腦圖片大小 */
    height: auto;
    margin-bottom: 10px;
  }
  
  .header h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    text-transform: uppercase;
  }
  
  /* 全域設置 */
*
  
  
  .list {
    display:flex;
    background-color:black;
    justify-content:space-around;
    align-items:center;
    padding:20px 150px 80px;
  }
  
  .emotion {
    flex:none;
    background-color:black;
    padding: 10px;
    width: 300px;
    margin:10px;
    transition: transform 0.3s ease-in-out;
    justify-content: space-around;
    align-items: center;
    gap:20px;
  }
  
  .img {
    width: 100%; /* 圖片填滿卡片 */
    
  }
  /* 懸停效果 */
  .emotion:hover {
    transform: scale(1.1); /* 放大效果 */
    cursor: pointer;
  }
  @media(max-width:3000px){
    .list{
      flex-wrap:wrap;
    }
    .emotion{
      width:30%;
    }
  }
  @media(max-width:1250px){
    .list{
      flex-wrap:wrap;
    }
    .emotion{
      width:45%;
    }
  }
  
  @media(max-width:480px){
    .emotion{
      width:90%;
      justify-content: space-around;
      align-items: center;
    }
  }